# Node
node_modules/

# Expo
.expo/
.expo-shared/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Coverage
coverage/

# Build outputs
build/
dist/

# Android build files
android/.gradle/
android/app/build/

# Gradle cache
.gradle/
.gradle-home/

# iOS build
ios/build/